.*.swp
__pycache__
.DS_Store
.idea/
data/.DS_Store
config.json
geckodriver.log
test.log
latest_logs
allure_reports/
assets/
screenshots/
myenv/
report.html
reports/
testresults.xml
container_venv/
tests/container_venv
podman
